global
        daemon
        maxconn 1024

    defaults
        mode		http
        option		httplog
        timeout connect	5000ms
        timeout client	50000ms
        timeout server	50000ms

    frontend http-in
        bind *:8086
        use_backend relays if { path_beg /write }
        use_backend backends if { path_beg /query }
	default_backend backends

    frontend http-ui-in
        bind *:8083
	default_backend ui-backends

